/*
Theme Name: Btext Child
Author: ThemesCamp
Author URI:  http://themeforest.net/user/themescamp
Theme URI: http://themeforest.net/user/themescamp/portfolio
Template: technex
Description: This is child theme for technex Theme.
Version: 1.0.0
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: technex-child
Tags: one-column, two-columns, right-sidebar,custom-colors,featured-images
*/

